:root {
  --text: #171814;
  --background: #fdfff3;
  --primary: #ddf807;
  --secondary: #75befb;
  --accent: #6f4afa;
  --text-hover: #A2A4A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  color: var(--text);
  width: 95%;
  margin: auto;
}

/* common style here */
.header {
  font-size: xx-large;

}

.paragraph {
  font-size: 1.2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 3rem;
}

li {
  list-style: none;
}

.header-about ul {
  display: flex;
  gap: 2.5rem;
}

.header-about ul li a {

  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  text-decoration: none;
  color: rgba(23, 24, 20, 0.8);
  font-weight: 550;
  transition: color 0.3s ease;/
}

.header-about ul li a:hover {
  color: var(--text-hover)
}

.logo-color {
  color: #BCBEB8;
}


/* heor section */


.hero-section {
  text-align: center;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .8rem;
}


/* main section */

/* container */
.container {
  width: 100%;
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

/* card */

.card {
  background-color: #F0F2E8;
  border: 2px solid #F0F2E8;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .7rem;
  height: 100%;
  transition:all 0.3s ease;
  cursor: pointer;

}

.card:hover{
transform: translateY(-10px) ;
border-color:var(--secondary);
}

.card-heading {
  font-size: 1.3rem;
}

.tag {
  border: 1px solid #47474C;
  padding: .3rem 1.2rem;
  border-radius: 2rem;
  color: #47474C;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  background: linear-gradient(135deg, var(--primary) 25%, var(--secondary) 100%);
}

.btn{
  background-color: #D2E5ED;
  font-size: 1.2rem;
  padding: .6rem 1rem;
  margin-top: .5rem;
  border-radius: 12px;
  margin-bottom: -.7rem;
}

.btn:hover{
  background-color:#F0F2E8 ;
  background:linear-gradient(130deg, #D2E5ED 40%,#A4D2F4 100%);
  border: 2px solid #75BEFB;
}


/* real life */

.real-life{
margin-top: 10.5rem;
text-align: center;
}

.real-life-container{
  text-align: left;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 4.2rem;
}

.real-life-contain{
  background-color: #0514080D;
  padding: 2.2rem;
  border-radius: 12px;
}

.real-life-container ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}

.real-life-logo-color{
  color:#593EC1
  
}


/* learning */

.learning{
  text-align: center;
  margin-top: 3.5rem;
}


/* blog header */
.blog{
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px,1fr));
  gap: .5rem;

}
.blog-card{
  width: 90%;
  margin: auto;
  gap: 1.2rem;
  text-align: justify;
}
.blog-header{
  font-size: 1.5rem;
  text-align: center;
}

.blog-paragraph{
  font-size: 1.1rem;
  line-height: 1.7;
}