:root {
  --text: #171814;
--background: #fdfff3;
--primary: #ddf807;
--secondary: #75befb;
--accent: #6f4afa;
  --text-hover:#A2A4A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  color:var(--text);
  width: 95%;
  margin: auto;
}
/* common style here */
.header{
  font-size: xx-large;
  
}
.paragraph{
  font-size: large;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 3rem;
}
li{
  list-style: none;
}
.header-about ul{
  display: flex;
  gap: 2.5rem;
}
.header-about ul li a {
  
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  text-decoration: none;
  color: rgba(23, 24, 20,0.8); 
  font-weight: 550;
  transition: color 0.3s ease; /
}
.header-about ul li a:hover {
  color: var(--text-hover)
}

.logo-color{
  color: #BCBEB8;
}


/* heor section */


.hero-section{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .8rem;
}